<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Use biometrics to login</string>
	<key>UIAppFonts</key>
	<array>
		<string>BrilliantCutProB7-Bold.otf</string>
		<string>BrilliantCutProB7-Regular.otf</string>
		<string>FancyCutProB7-Regular.otf</string>
		<string>FancyCutCondProB7-Bold.otf</string>
		<string>FancyCutProB7-ThinItalic.otf</string>
	</array>
</dict>
</plist>
